example-flows/google-search-enter-alternative.json
[
    {
        "id": "flow_google_search_enter",
        "type": "tab",
        "label": "🐐 Google Search: Enter подход",
        "disabled": false,
        "info": "Альтернативный подход с Enter:\n1. Открыть Google\n2. Ввести поиск 'козы'\n3. Нажать Enter\n4. Сделать скриншот\n5. Закрыть сессию"
    },
    {
        "id": "inject_start_enter",
        "type": "inject",
        "z": "flow_google_search_enter",
        "name": "🚀 Запустить поиск",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://www.google.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "session_start_enter"
            ]
        ]
    },
    {
        "id": "session_start_enter",
        "type": "playwright-session-start",
        "z": "flow_google_search_enter",
        "name": "🟢 Открыть Google",
        "url": "https://www.google.com",
        "browser_options": "{}",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "delay_1_enter",
                "debug_start_enter"
            ],
            [
                "debug_error_enter"
            ]
        ]
    },
    {
        "id": "delay_1_enter",
        "type": "delay",
        "z": "flow_google_search_enter",
        "name": "⏳ Ждем загрузки",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "action_fill_search_enter"
            ]
        ]
    },
    {
        "id": "action_fill_search_enter",
        "type": "playwright-session-action",
        "z": "flow_google_search_enter",
        "name": "🔍 Ввести 'козы'",
        "action": "fill_form",
        "selector": "input[name='q'], textarea[name='q']",
        "value": "козы",
        "x": 780,
        "y": 100,
        "wires": [
            [
                "action_press_enter",
                "debug_fill_enter"
            ],
            [
                "debug_error_enter"
            ]
        ]
    },
    {
        "id": "action_press_enter",
        "type": "playwright-session-action",
        "z": "flow_google_search_enter",
        "name": "⌨️ Нажать Enter",
        "action": "keyboard",
        "selector": "input[name='q'], textarea[name='q']",
        "value": "Enter",
        "x": 990,
        "y": 100,
        "wires": [
            [
                "delay_2_enter",
                "debug_search_enter"
            ],
            [
                "debug_error_enter"
            ]
        ]
    },
    {
        "id": "delay_2_enter",
        "type": "delay",
        "z": "flow_google_search_enter",
        "name": "⏳ Ждем результаты",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1200,
        "y": 100,
        "wires": [
            [
                "action_screenshot_enter"
            ]
        ]
    },
    {
        "id": "action_screenshot_enter",
        "type": "playwright-session-action",
        "z": "flow_google_search_enter",
        "name": "📸 Скриншот результатов",
        "action": "screenshot",
        "selector": "",
        "value": "",
        "full_page": true,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "action_get_url_enter",
                "debug_screenshot_enter"
            ],
            [
                "debug_error_enter"
            ]
        ]
    },
    {
        "id": "action_get_url_enter",
        "type": "playwright-session-action",
        "z": "flow_google_search_enter",
        "name": "🌐 Получить URL",
        "action": "get_url",
        "selector": "",
        "value": "",
        "x": 650,
        "y": 200,
        "wires": [
            [
                "session_end_enter",
                "debug_url_enter"
            ],
            [
                "debug_error_enter"
            ]
        ]
    },
    {
        "id": "session_end_enter",
        "type": "playwright-session-end",
        "z": "flow_google_search_enter",
        "name": "🔴 Закрыть сессию",
        "x": 880,
        "y": 200,
        "wires": [
            [
                "debug_result_enter"
            ],
            [
                "debug_error_enter"
            ]
        ]
    },
    {
        "id": "debug_start_enter",
        "type": "debug",
        "z": "flow_google_search_enter",
        "name": "✅ Сессия создана",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug_fill_enter",
        "type": "debug",
        "z": "flow_google_search_enter",
        "name": "🔍 Поиск введен",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug_search_enter",
        "type": "debug",
        "z": "flow_google_search_enter",
        "name": "⌨️ Enter нажат",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug_screenshot_enter",
        "type": "debug",
        "z": "flow_google_search_enter",
        "name": "📸 Скриншот готов",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "screenshot",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug_url_enter",
        "type": "debug",
        "z": "flow_google_search_enter",
        "name": "🌐 URL получен",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.current_url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug_result_enter",
        "type": "debug",
        "z": "flow_google_search_enter",
        "name": "🎉 Готово!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug_error_enter",
        "type": "debug",
        "z": "flow_google_search_enter",
        "name": "❌ Ошибка",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    }
] 